{% extends "base.html" %}
{% block content %}

    <div class="card mt-3 ">
        <div class="card-body">
        {% if new.image %}
        <p><img class="img-article-left" src="{{new.image.url}}"></p>
        {% endif %}
        <h3>{{new.name}}</h3>
        <h5 class="mt-3" >{{new.title}}</h5>
            {{new.url_name}}
            <p> <small class="text-muted" > Posted at: {{new.create_at}}</small> </p>
            <a href="{% url 'home' %}" class="btn btn-dark my-3">Go back </a>

      </div>
    </div>

{% endblock %}

<!-----
 {% if post.author == request.user %}
                <small class="text-muted" >
                    <a href="#">Update</a> |
                    <a href="#">Delete</a>
                </small>
            {% endif %}